.content {
    min-height: 550px;
    padding: 108px 0 72px 0;
}

.content .content_title {
    font-family: 'Roboto - Black';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299CBD;

    margin-left: 391px;
}
.content_title:hover {
    -webkit-text-stroke: 1px rgba(58, 118, 173, 0.8);
    cursor: pointer;;
}

.content .content_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
    opacity: 0.8;

    margin-top: 25px;
    margin-left: 391px;
}

.content .content_text p { 
    margin-top: 15px;
}
.content .content_text p span { 
    font-weight: bold;
    opacity: 1;
    color: black; 
}
.content .content_text p span:hover {
    color: #299CBD;
    -webkit-text-stroke: 1px rgba(58, 118, 173, 0.1);
}

.content .content_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}