.promoHeader {
    height: 800px;
    background: url("../../img/bg/main_bg.png") center center/cover no-repeat;
    padding: 38px 0 62px 0;
}

.logo_link {
    text-decoration: none;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}
.logo .logo_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    line-height: 24px;
    color: #fff;

    margin-top: 10px;
    display: block;
}

.title_first, .title_second {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-transform: uppercase;
    text-align: center;
    color: #F9BF3B;
}
.title_first {
    margin-top: 52px;
}
.title_second {
    margin-top: 20px;
}

.simple .title_big {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    margin-top: 20px;
}
.title_big:hover {
    color: #F9BF3B;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
    cursor: pointer;
    text-shadow: 0px 0px 10px rgba(228, 214, 23, 0.4);;
}

.promoHeader .promo_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px; 
    text-align: center;
    color: #fff;

    margin-top: 22px;
    padding: 0 13px;
}
.promoHeader .promo_text span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    text-transform: uppercase; 
    text-align: center;
    color: #F9BF3B;
}
.promoHeader .promo_text:hover > span {
    text-shadow: 0px 0px 10px rgba(228, 214, 23, 0.6);
}

.promoHeader .promo_btn {
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;

    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    color: #FFFFFF;

    margin: 72px auto;
    /* padding: 14px; */
    display: block;
}
.promo_btn:hover {
    background: linear-gradient(0deg, #a3b927 0%, #daa73a 100%);
}
.promo_btn:focus {
    border: 3px solid #d39810;
    background: #F9BF3B;
    box-shadow: 0px 0px 10px rgba(228, 214, 23, 0.4);
}


.more .more_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    
    color: #fff;
    opacity: 0.6;

    display: block;
}
.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}
.more .more_img-hover {
    display: none;
}

.anchor {
    text-decoration: none;
    cursor: pointer;
}

.anchor:hover > .more_img {
    display: none;
}
.anchor:hover > .more_img-hover {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}
.anchor:hover > .more_text {
    color: #F9BF3B;
    text-shadow: 0px 0px 10px rgba(228, 214, 23, 0.6);
}
